* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
 }

.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s ease-out;
	font-family: 'Montserrat', sans-serif;
	top: 0;
}

.navbar:hover {
    background-color: rgb(196, 193, 193);
}


.navbar::before{
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
	z-index: -1;
}

.navbar ul {
	display: flex;
	list-style: none;
	margin-left: 100px;
  }
  
.navbar ul li{
	font-size: 1.3rem;
	text-align: center;
}

.navbar ul li a{
	padding: 5x 20px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	margin-right: 80px;
	transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover{
	border-bottom: 2px solid rgb(30, 30, 29);
}

.heading {
    color: black;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transform: scale(1,1.2);
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
}

section {
	scroll-margin-top: 50px;
}

.transition-section {
	transition: transform 0.5s ease-in-out;
 } 


/*HOME*/
#home{
	display: flex;
	flex-direction: column;
	height: 650px;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
}
 
.home-img{
	width: 200px; 
	height: 200px; 
	background: rgb(57, 55, 55);
	border-radius: 50%; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	border-radius: 50%;
	margin-top: -90px;
}
.circle{
	position: relative;
	width: 95%; 
	height: 95%; 
	background: rgba(7, 7, 7, 0.5);
	border-radius: 50%; 
	z-index: 1;
	overflow: hidden;
}

.image img {
	position: absolute;
	transform: translateX(-50%);
	max-width: 220px;
	object-fit: cover;
	left: 80px;
	margin-top: -50px;
}

.hello {
    color: black;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transform: scale(1,1.1);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40) forwards, flicker 4s ease-in-out 4s infinite;
    margin-top: 20px;
}

.aston {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0; 
    animation: typing 4s steps(40) forwards, flicker 4s ease-in-out 4s infinite;
    animation-delay: 0.9s; 
    transform: scale(1,1.1);
	margin-top: 20px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes flicker {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.aston::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 100%;
    border-right: 3px solid black;
    animation: cursor 0.8s steps(40) infinite;
}

@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

@keyframes showaston {
    from { opacity: 0; }
    to { opacity: 1; }
}

.aston.animated {
    animation: showaston 0.5s ease-in-out forwards;
}

/*ABOUT*/
#about{
	display: flex;
	flex-direction: column;
	height: 650px;
	background-color: rgb(83, 83, 83);
}

#about h1{
	color: rgb(255, 255, 255);
	margin: 80px;
	margin-top: 50px;
}

.about{
	display: flex;
}

.name{
	padding: 10px;
	color: rgb(255, 255, 255);
	margin-left: 160px;
	margin-right: 160px;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1,1.15);
}

.name h2{
	font-size: 2rem;
	margin-top: 40px;
}

.name p{
	font-size: 1.2rem;
	margin-top: 10px;
}

/*EDUCATION*/
#education{
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 56, 56);
    height: 650px;
}

#education h1{
    color: white;
    margin: 60px;
}

.columns{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 60px;
    align-items: center;
}

.box{
    height: 250px;
    width: 380px;
    background-color: rgba(124, 124, 124, 0.985);
    border-radius: 20px;
    margin: 10px;
    margin-top: 40px;
}

.box p{
    color: white;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 25px;
    transform: scale(1,1.1);
}

@media only screen and (max-width: 900px) {
    .columns{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .columns{
        grid-template-columns: auto;
        padding-left: 0;
    }
    .box{
        width: 80%;
        margin-left: 10%;
    }
}


/*CONTACT*/
#contact{
	display: flex;
	flex-direction: column;
	background-color: rgb(31, 31, 31);
	height: 350px;
	align-items: center;
}

#contact h1{
	color: white;
	margin: 60px;
}

#contact p{
	color: white;
	font-size: 1.2;
	font-family: 'Montserrat', sans-serif;
}

.social{
	display: flex;
}

.social a{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	margin: 22px 10px;
	border-radius: 50%;
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.social a:hover{
	transform: scale(1.3);
	transition: 0.3s;
}